body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.97);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(12.6px);
    backdrop-filter: blur(12.6px);
    color: white;
}

:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --light: #EEE;
    --grey: #6B7280; 
    --darkblue: #3A3985;
    --lightblue: #3499FF;
}

#bnt-nav {
    font-family: "Audiowide", sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, var(--grey), var(--darkest));
    color: var(--darkest);
    font-size: 30px;
    font-weight: 800;
}

nav {
    box-shadow: 10px 10px 5px rgb(118, 121, 122);

}

#navbarCollapse a {
    color: white;
    text-decoration: none;
}

main #section-2 h2 {
    letter-spacing: 10px;
}

#btn-1,
#btn-2,
#btn-3,
#btn-4,
#btn-5,
#btn-6,
#btn-7,
#btn-8,
#btn-9 {
    background-image: linear-gradient(to right, var(--grey), var(--darkest));
    color: var(--llight);
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}

main section .card {
    transition: 0.8s ease;
}
    
main section .card:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.8s ease;
}

.card, #section-3 {
    background-color: var(--darkest);
}